:root {
  --font-family-base: "Noto Serif JP", serif;
  --font-size-pc: 16px;
  --font-size-sp: 12px;
  --line-height-base: 1.6;
  --font-family-jp: "Noto Sans JP", sans-serif;
  --font-family-kiwi: "Kiwi Maru", serif;
  --font-family-en: "Courgette", cursive;
  --font-family-josefin: "Josefin Sans", sans-serif;
  --color-main: #9ed0e0;
  --color-sub-dblue: #67b0c7;
  --color-sub-gray: #cce1e4;
  --color-sub-lblue: #e9f6f8;
  --color-red: #ce2073;
  --color-yellow: #ffee56;
  --color-brown: #4a3636;
  --color-dgray: #cccccc;
  --color-gray: #f5f5f5;
  --color-white: #ffffff;
  --content-width: 1024px;
}

/*!
foundation > reset
------------------------------
*/
html {
  color: #000;
  background: #fff;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}

input,
textarea,
select {
  font-size: 16px;
}

textarea {
  resize: vertical;
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}

legend {
  color: #000;
}

main {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

svg {
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*!
foundation > base
------------------------------
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-jp);
  font-size: var(--font-size-sp);
  line-height: var(--line-height-base);
  color: var(--color-brown);
  background-color: var(--color-sub-lblue);
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  body {
    font-size: var(--font-size-pc);
  }
}

/*!
component > button
------------------------------
*/
.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: var(--color-brown);
  font-weight: 700;
  background-color: var(--color-white);
  border: 1px solid var(--color-brown);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-inline: auto;
  border-radius: 40px;
  border: 2px solid var(--color-brown);
  -webkit-box-shadow: 0px 4px 0px 0px var(--color-brown);
          box-shadow: 0px 4px 0px 0px var(--color-brown);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.button-lg {
  padding: 8px 38px 10px 38px;
  font-size: 20px;
}

.button-md {
  padding: 4px 22px 6px 22px;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .button-md {
    padding: 8px 38px 10px 38px;
    font-size: 20px;
  }
}

.button-sm {
  padding: 4px 22px 6px 22px;
  font-size: 14px;
}

/*!
component > heading
------------------------------
*/
.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  margin-bottom: 36px;
}
@media screen and (min-width: 900px) {
  .heading {
    gap: 8px;
    margin-bottom: 48px;
  }
}
.heading span {
  display: block;
}

.heading-icon img {
  width: 37.333px;
}
@media screen and (min-width: 900px) {
  .heading-icon img {
    width: 48px;
  }
}

.heading-en {
  font-family: var(--font-family-en);
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 900px) {
  .heading-en {
    font-size: 20px;
  }
}

.heading-ja {
  font-family: var(--font-family-kiwi);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  position: relative;
}
@media screen and (min-width: 900px) {
  .heading-ja {
    font-size: 32px;
  }
}
.heading-ja::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 6px;
  background: var(--color-yellow);
}
@media screen and (min-width: 900px) {
  .heading-ja::after {
    height: 8px;
    bottom: -16px;
  }
}

/*!
component > form-field
------------------------------
*/
/*!
layout > container
------------------------------
*/
.inner {
  padding-inline: 20px;
}
@media screen and (min-width: 768px) {
  .inner {
    margin-inline: auto;
  }
}

/*!
layout > header
------------------------------
*/
.header {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 64px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
}
@media screen and (min-width: 900px) {
  .header__inner {
    padding: 12px 24px;
    margin-inline: auto;
  }
}

.header__logo {
  display: block;
}
.header__logo a img {
  width: 210px;
}
@media screen and (min-width: 900px) {
  .header__logo a img {
    width: 183px;
  }
}

.header__nav {
  display: none;
}
@media screen and (min-width: 900px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.header__nav-link {
  font-size: 12px;
}

.header__nav-button {
  margin-left: 16px;
}

.drawer-icon {
  width: 32px;
  height: 24px;
  position: relative;
  z-index: 51;
}
@media screen and (min-width: 900px) {
  .drawer-icon {
    display: none;
  }
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(1) {
  width: 32px;
  top: 12px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(2) {
  display: none;
}
.drawer-icon.is-checked .drawer-icon__bar:nth-of-type(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.drawer-icon.is-checked .drawer-icon__bar-dot {
  display: none;
}

.drawer-icon__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 3px;
  background: var(--color-brown);
  border-radius: 3px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.drawer-icon__bar:nth-of-type(1) {
  width: 25.6px;
}
.drawer-icon__bar:nth-of-type(2) {
  top: 12px;
}
.drawer-icon__bar:nth-of-type(3) {
  top: 25px;
}

.drawer-icon__bar-dot {
  position: absolute;
  left: 27.2px;
  width: 4.8px;
  height: 3px;
  background: var(--color-brown);
  border-radius: 3px;
}

.drawer__panel {
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100vh;
  padding-top: 82px;
  background: var(--color-white);
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.drawer__panel.is-checked {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.drawer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.drawer__link {
  text-align: center;
  font-size: 14px;
  color: var(--color-brown);
}

.drawer__button {
  margin-top: -2px;
}

/*!
layout > footer
------------------------------
*/
.annotation {
  font-size: 10px;
}
@media screen and (min-width: 900px) {
  .annotation {
    font-size: 14px;
  }
}

.hidden-sp {
  display: none;
}
@media screen and (min-width: 900px) {
  .hidden-sp {
    display: inline-block;
  }
}

@media screen and (min-width: 900px) {
  .hidden-pc {
    display: none;
  }
}

.font-bold {
  font-weight: 700;
}

.link__border {
  text-decoration: underline;
}

/*!
fv
------------------------------
*/
.fv {
  background: url(../images/fv-bg-sp@2x.png) no-repeat center/cover;
  height: 553px;
}
@media screen and (min-width: 900px) {
  .fv {
    background-image: url(../images/fv-bg-pc@2x.png);
    height: 740px;
  }
}

.fv__inner {
  padding-top: 17px;
  max-width: 335px;
  margin-inline: auto;
}
@media screen and (min-width: 900px) {
  .fv__inner {
    padding-top: 35px;
    max-width: 848px;
    margin: 0 auto;
  }
}

.fv__content {
  text-align: center;
}

.fv__text {
  margin-bottom: 20px;
  text-shadow: 0px 0px 30px var(--color-white);
  font-family: var(--font-family-kiwi);
  font-size: 14px;
  line-height: 1.25;
}
@media screen and (min-width: 900px) {
  .fv__text {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
  }
}

@media screen and (min-width: 900px) {
  .fv__title img {
    width: 520px;
  }
}

.fv__image {
  position: relative;
}

.fv__image-top-fukidashi {
  position: absolute;
  top: 17px;
  left: 0;
  width: 142px;
}
@media screen and (min-width: 900px) {
  .fv__image-top-fukidashi {
    top: 0;
    left: 37px;
    width: 244px;
  }
}

.fv__image-top-present {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 110px;
}
@media screen and (min-width: 900px) {
  .fv__image-top-present {
    top: 17px;
    right: 127px;
    width: 180px;
  }
}

.fv__image-middle {
  position: absolute;
  top: 113px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
}
@media screen and (min-width: 900px) {
  .fv__image-middle {
    top: 33px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 250px;
  }
}

.fv__image-bottom-food {
  position: absolute;
  top: 396px;
  left: 2px;
  width: 87px;
}
@media screen and (min-width: 900px) {
  .fv__image-bottom-food {
    top: 240px;
    left: 2px;
    width: 202px;
  }
}

.fv__image-bottom-cats {
  position: absolute;
  top: 405px;
  right: 0;
  width: 107px;
}
@media screen and (min-width: 900px) {
  .fv__image-bottom-cats {
    top: 309px;
    right: 0;
    width: 233px;
  }
}

/*!
about
------------------------------
*/
.about {
  margin-top: 156px;
  padding-top: 32px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .about {
    margin-top: 97px;
    padding-top: 80px;
  }
}

.about__inner {
  background: var(--color-white);
  margin-inline: 20px;
  padding: 40px 12px;
  border-radius: 24px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 500px) {
  .about__inner {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 40px;
    max-width: calc(100% - 100px);
    margin-inline: auto;
    padding-inline: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__inner {
    max-width: 848px;
  }
}

.about__top-left {
  position: absolute;
  width: 88px;
  height: 68px;
  top: 32px;
  left: 33px;
}
@media screen and (min-width: 500px) {
  .about__top-left {
    width: 134px;
    height: 100px;
    top: 17px;
    left: 14px;
  }
}
@media screen and (min-width: 900px) {
  .about__top-left {
    width: 148px;
    height: 116px;
    top: 40px;
    left: 85px;
  }
}

.about__top-right {
  position: absolute;
  width: 88px;
  height: 68px;
  top: 30px;
  right: 20px;
}
@media screen and (min-width: 500px) {
  .about__top-right {
    width: 134px;
    height: 100px;
    top: 13px;
    right: 29px;
  }
}
@media screen and (min-width: 900px) {
  .about__top-right {
    width: 148px;
    height: 116px;
    top: 47px;
    right: 84px;
  }
}

.about__heading-ja::after {
  width: 200px;
}
@media screen and (min-width: 900px) {
  .about__heading-ja::after {
    width: 320px;
  }
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  text-align: center;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}
@media screen and (min-width: 900px) {
  .about__content {
    gap: 32px;
  }
}

.about__content-title {
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .about__content-title {
    font-size: 16px;
  }
}

.about__content-text {
  font-size: 12px;
}
@media screen and (min-width: 900px) {
  .about__content-text {
    font-size: 16px;
  }
}
.about__content-text + .about__content-text {
  margin-top: 19.2px;
}
@media screen and (min-width: 900px) {
  .about__content-text + .about__content-text {
    margin-top: 25.6px;
  }
}

.about__content-message {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .about__content-message {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 20px;
  }
}

.about__bg-arrow {
  position: absolute;
  bottom: -36px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
}
@media screen and (min-width: 900px) {
  .about__bg-arrow {
    bottom: -50px;
    width: 140px;
  }
}

.about__bg {
  z-index: 0;
}

.about__bg-pawpads {
  position: absolute;
  top: 22px;
  right: 0;
  width: 54px;
}
@media screen and (min-width: 1200px) {
  .about__bg-pawpads {
    top: 0;
    left: calc(50% + 424px + 66px);
    width: 100px;
  }
}

@media screen and (min-width: 900px) {
  .about__bg-pattern {
    position: absolute;
    width: 250px;
    top: 60px;
    left: calc(50% - 775px);
  }
}

.about__bg-left {
  position: absolute;
  top: 427px;
  left: -140px;
  width: 200px;
  height: 200px;
  border-radius: 24px;
}
@media screen and (min-width: 900px) {
  .about__bg-left {
    width: 480px;
    height: 480px;
    top: 154px;
    left: calc(50% - 848px);
    border-radius: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__bg-left {
    left: calc(50% - 848px - 208px);
  }
}

.about__bg-right {
  position: absolute;
  top: 305px;
  right: -140px;
  width: 200px;
  height: 200px;
  border-radius: 24px;
}
@media screen and (min-width: 900px) {
  .about__bg-right {
    width: 480px;
    height: 480px;
    top: 153px;
    right: calc(50% - 848px);
    border-radius: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .about__bg-right {
    right: calc(50% - 848px - 192px);
  }
}

.about__bg-slope {
  position: absolute;
  top: 741px;
  left: 0;
  width: 138px;
}
@media screen and (min-width: 900px) {
  .about__bg-slope {
    width: 427px;
    height: 817px;
  }
}
@media screen and (min-width: 1200px) {
  .about__bg-slope {
    width: 427px;
    height: 817px;
    top: 400px;
    left: calc(50% - 848px - 8px);
  }
}

@media screen and (min-width: 900px) {
  .about__bg-wave {
    position: absolute;
    width: 874px;
    height: 45px;
    top: 687px;
    left: calc(50% + 424px + 24px);
  }
}

.about__bg-button {
  position: absolute;
  top: 752px;
  right: 21px;
  width: 48px;
}
@media screen and (min-width: 768px) {
  .about__bg-button {
    top: 726px;
    left: calc(50% + 306px);
    z-index: 1;
  }
}
@media screen and (min-width: 900px) {
  .about__bg-button {
    width: 101px;
    top: 945px;
    left: calc(50% + 336px);
    z-index: 1;
  }
}
@media screen and (min-width: 1200px) {
  .about__bg-button {
    top: 681px;
    left: calc(50% + 424px + 81px);
  }
}

.about__bg-cloth {
  position: absolute;
  top: 794px;
  right: 57px;
  width: 133px;
}
@media screen and (min-width: 900px) {
  .about__bg-cloth {
    width: 258px;
    top: 997px;
    left: calc(50% + 112px);
    z-index: 1;
  }
}
@media screen and (min-width: 1200px) {
  .about__bg-cloth {
    width: 308px;
    top: 837px;
    left: calc(50% + 424px - 50px);
    z-index: 1;
  }
}

/*!
slider
------------------------------
*/
.about__slider {
  margin-top: 140px;
  margin-bottom: 33px;
  position: relative;
}
@media screen and (min-width: 900px) {
  .about__slider {
    margin-top: 167px;
    margin-bottom: 0;
  }
}

.about__onomichi {
  width: 335px;
  margin-inline: auto;
}
@media screen and (min-width: 900px) {
  .about__onomichi {
    width: 891px;
  }
}

@media screen and (min-width: 1200px) {
  .about__swiper {
    margin-top: -8px;
  }
}

.about__swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.about__swiper-item {
  width: 100px !important;
  height: 100px !important;
}
@media screen and (min-width: 900px) {
  .about__swiper-item {
    width: 200px !important;
    height: 200px !important;
  }
}

/*!
Step how to enter
------------------------------
*/
.step {
  padding-top: 32px;
  padding-bottom: 38px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .step {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.step__inner {
  margin-inline: 20px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 900px) {
  .step__inner {
    margin-inline: 36px;
  }
}

.step__heading-ja::after {
  width: 100px;
}
@media screen and (min-width: 900px) {
  .step__heading-ja::after {
    width: 160px;
  }
}

.step__content {
  margin-top: 32px;
}
@media screen and (min-width: 900px) {
  .step__content {
    margin-top: 40px;
  }
}

.step__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 900px) {
  .step__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 32px;
  }
}

.step__item {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .step__item {
    position: relative;
  }
  .step__item:nth-child(2) {
    padding-top: 69px;
  }
}

.step__img {
  display: block;
  margin-inline: auto;
  width: 196px;
  height: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 900px) {
  .step__img {
    width: 260px;
    height: 278px;
  }
}
@media screen and (min-width: 1200px) {
  .step__img {
    width: 280px;
    height: 300px;
  }
}
.step__img.step1 {
  background-image: url(../images/step-bg-1@2x.png);
}
.step__img.step2 {
  background-image: url(../images/step-bg-2@2x.png);
}
.step__img.step3 {
  background-image: url(../images/step-bg-3@2x.png);
}

.step__item-number {
  padding-top: 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--font-family-josefin);
  color: var(--color-white);
  text-transform: uppercase;
}
@media screen and (min-width: 900px) {
  .step__item-number {
    padding-top: 44px;
  }
}

.step__number-top {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
}
@media screen and (min-width: 900px) {
  .step__number-top {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .step__number-top {
    font-size: 20px;
  }
}

.step__number-bottom {
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  line-height: 0.9;
}
@media screen and (min-width: 900px) {
  .step__number-bottom {
    font-size: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .step__number-bottom {
    font-size: 56px;
  }
}

.step__item-img {
  width: 112px;
  height: 112px;
}
@media screen and (min-width: 900px) {
  .step__item-img {
    width: 140px;
    height: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .step__item-img {
    width: 160px;
    height: 160px;
  }
}

.step__text {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 900px) {
  .step__text {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .step__text {
    margin-top: 24px;
  }
}

.step__text-title {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .step__text-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .step__text-title {
    font-size: 20px;
  }
}

.step__text-content {
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}
@media screen and (min-width: 768px) {
  .step__text-content {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .step__text-content {
    font-size: 16px;
  }
}

.step__text-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  background: var(--color-white);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .step__text-link {
    font-size: 16px;
  }
}
.step__text-link img {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 900px) {
  .step__text-link img {
    width: 24px;
    height: 24px;
  }
}

.step__line {
  margin-top: 16px;
  width: 7px;
  height: 34px;
  display: block;
  margin-inline: auto;
}
@media screen and (min-width: 900px) {
  .step__line {
    width: 113px;
    height: 24px;
    position: absolute;
    margin-top: 0;
    top: 204px;
    right: -48px;
  }
}

.step__button {
  margin-top: 16px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .step__button {
    margin-top: 40px;
  }
}

.step__bg {
  z-index: 0;
}

.step__bg-left {
  position: absolute;
  top: 32px;
  left: 0;
}
.step__bg-left img {
  width: 149px;
  height: 223px;
}

.step__top-cat1 {
  position: absolute;
  top: 37px;
  right: -31px;
  width: 94px;
}

.step__top-cat2 {
  position: absolute;
  width: 105px;
  top: 32px;
  right: 24px;
}

.step__bg-pawpads-top {
  position: absolute;
  width: 55px;
  height: 120px;
  top: 106px;
  right: 20px;
}

.step__bg-pawpads-middle {
  position: absolute;
  width: 55px;
  height: 120px;
  top: 582px;
  left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.step__bg-pawpads-bottom {
  position: absolute;
  width: 55px;
  height: 120px;
  top: 912px;
  right: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}/*# sourceMappingURL=style.css.map */