@use "../global" as *;

// はみ出し検証用
// * {
//   outline: 2px solid blue;
// }

.annotation {
  font-size: 10px;

  @include mq(lg) {
    font-size: 14px;
  }
}

.hidden-sp {
  display: none;
  @include mq(lg) {
    display: inline-block;
  }
}

.hidden-pc {
  @include mq(lg) {
    display: none;
  }
}

.font-bold {
  font-weight: 700;
}

.link__border {
  text-decoration: underline;
}
/*!
fv
------------------------------
*/
.fv {
  background: url(../images/fv-bg-sp@2x.png) no-repeat center / cover;
  height: 553px;
  @include mq(lg) {
    background-image: url(../images/fv-bg-pc@2x.png);
    height: 740px;
  }
}

.fv__inner {
  padding-top: 17px;
  max-width: 335px;
  margin-inline: auto;

  @include mq(lg) {
    padding-top: 35px;
    max-width: 848px;
    margin: 0 auto;
  }
}

.fv__content {
  text-align: center;
}

.fv__text {
  margin-bottom: 20px;
  text-shadow: 0px 0px 30px var(--color-white);
  font-family: var(--font-family-kiwi);
  font-size: 14px;
  line-height: 1.25;

  @include mq(lg) {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
  }
}

.fv__title {
  img {
    @include mq(lg) {
      width: 520px;
    }
  }
}

.fv__image {
  position: relative;
}

.fv__image-top {
}

.fv__image-top-fukidashi {
  position: absolute;
  top: 17px;
  left: 0;
  width: 142px;

  @include mq(lg) {
    top: 0;
    left: 37px;
    width: 244px;
  }
}

.fv__image-top-present {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 110px;

  @include mq(lg) {
    top: 17px;
    right: 127px;
    width: 180px;
  }
}

.fv__image-middle {
  position: absolute;
  top: 113px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;

  @include mq(lg) {
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
  }
}

.fv__image-middle-img {
}

.fv__image-bottom {
}
.fv__image-bottom-food {
  position: absolute;
  top: 396px;
  left: 2px;
  width: 87px;

  @include mq(lg) {
    top: 240px;
    left: 2px;
    width: 202px;
  }
}

.fv__image-bottom-cats {
  position: absolute;
  top: 405px;
  right: 0;
  width: 107px;

  @include mq(lg) {
    top: 309px;
    right: 0;
    width: 233px;
  }
}

/*!
about
------------------------------
*/
.about {
  margin-top: 156px;
  padding-top: 32px;
  // about__bg用
  position: relative;
  overflow: hidden;

  @include mq(lg) {
    margin-top: 97px;
    padding-top: 80px;
  }
}

.about__inner {
  background: var(--color-white);
  margin-inline: 20px;
  padding: 40px 12px;
  border-radius: 24px;
  // about__img, arrow用
  position: relative;
  // about__bg用
  z-index: 1;

  @include mq(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 40px;
    max-width: calc(100% - 50px * 2);
    margin-inline: auto;
    padding-inline: 0;
  }

  @include mq(xl) {
    max-width: calc(620px + 114px * 2);
  }
}

.about__img {
}

.about__top-left {
  position: absolute;
  width: 88px;
  height: 68px;
  top: 32px;
  left: 33px;

  @include mq(sm) {
    width: 134px;
    height: 100px;

    top: 17px;
    left: 14px;
  }

  @include mq(lg) {
    width: 148px;
    height: 116px;
    top: 40px;
    left: 85px;
  }
}

.about__top-right {
  position: absolute;
  width: 88px;
  height: 68px;
  top: 30px;
  right: 20px;

  @include mq(sm) {
    width: 134px;
    height: 100px;

    top: 13px;
    right: 29px;
  }

  @include mq(lg) {
    width: 148px;
    height: 116px;

    top: 47px;
    right: 84px;
  }
}

// heading共通化？
.about__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  margin-bottom: calc(12px + 24px);

  @include mq(lg) {
    gap: 8px;
    margin-bottom: calc(16px + 32px);
  }

  & span {
    display: block;
  }
}
// heading icon共通化？
.about__icon {
  img {
    width: 37.333px;

    @include mq(lg) {
      width: 48px;
    }
  }
}

.about__heading-en {
}

.heading-en {
  font-family: var(--font-family-en);
  font-size: 16px;
  line-height: 1.25;

  @include mq(lg) {
    font-size: 20px;
  }
}

.about__heading-ja {
}

.heading-ja {
  font-family: var(--font-family-kiwi);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  position: relative;

  @include mq(lg) {
    font-size: 32px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
    width: 200px;
    height: 6px;
    background: var(--color-yellow);

    @include mq(lg) {
      width: 320px;
      height: 8px;
      bottom: -16px;
    }
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;

  @include mq(lg) {
    gap: 32px;
  }
}

.about__content-title {
  font-size: 14px;
  font-weight: 700;

  @include mq(lg) {
    font-size: 16px;
  }
}

.about__content-text {
  font-size: 12px;

  @include mq(lg) {
    font-size: 16px;
  }

  & + & {
    margin-top: calc(12px * 1.6);

    @include mq(lg) {
      margin-top: calc(16px * 1.6);
    }
  }
}

.about__content-message {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 700;

  @include mq(lg) {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 20px;
  }
}

.about__button {
}

.about__bg-arrow {
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;

  @include mq(lg) {
    bottom: -50px;
    width: 140px;
  }
}
.about__bg {
  z-index: 0;
}

.about__bg-pawpads {
  position: absolute;
  top: 22px;
  right: 0;
  width: 54px;

  @include mq(xl) {
    top: 0;
    left: calc(50% + 424px + 66px);
    width: 100px;
  }
}

.about__bg-pattern {
  @include mq(lg) {
    position: absolute;
    width: 250px;
    top: 60px;
    left: calc(50% - 775px);
  }
}

.about__bg-left {
  position: absolute;
  top: 427px;
  left: -140px;
  width: 200px;
  height: 200px;
  border-radius: 24px;

  @include mq(md) {
  }

  @include mq(lg) {
    width: 480px;
    height: 480px;
    top: 154px;
    left: calc(50% - 848px);
    border-radius: 40px;
  }

  @include mq(xl) {
    left: calc(50% - 848px - 208px);
  }
}

.about__bg-right {
  position: absolute;
  top: 305px;
  right: -140px;
  width: 200px;
  height: 200px;
  border-radius: 24px;

  @include mq(lg) {
    width: 480px;
    height: 480px;
    top: 153px;
    right: calc(50% - 848px);
    border-radius: 40px;
  }

  @include mq(xl) {
    right: calc(50% - 848px - 192px);
  }
}

.about__bg-slope {
  position: absolute;
  top: 741px;
  left: 0;
  width: 138px;

  @include mq(lg) {
    width: 427px;
    height: 817px;
  }

  @include mq(xl) {
    width: 427px;
    height: 817px;
    top: 400px;
    left: calc(50% - 848px - 8px);
  }
}

.about__bg-wave {
  @include mq(lg) {
    position: absolute;
    width: 874px;
    height: 45px;
    top: 687px;
    left: calc(50% + 424px + 24px);
  }
}

.about__bg-button {
  position: absolute;
  top: 752px;
  right: 21px;
  width: 48px;

  @include mq(md) {
    top: 726px;
    left: calc(50% + 306px);
    z-index: 1;
  }
  @include mq(lg) {
    width: 101px;
    top: 945px;
    left: calc(50% + 336px);
    z-index: 1;
  }

  @include mq(xl) {
    top: 681px;
    left: calc(50% + 424px + 81px);
  }
}

.about__bg-cloth {
  position: absolute;
  top: 794px;
  right: 57px;
  width: 133px;

  @include mq(md) {
  }

  @include mq(lg) {
    width: 258px;
    top: 997px;
    left: calc(50% + 112px);
    z-index: 1;
  }
  @include mq(xl) {
    width: 308px;
    top: 837px;
    left: calc(50% + 424px - 50px);
    z-index: 1;
  }
}

/*!
slider
------------------------------
*/
.about__slider {
  margin-top: 140px;
  margin-bottom: 33px;
  position: relative;

  @include mq(lg) {
    margin-top: 167px;
    margin-bottom: 0;
  }
}

.about__onomichi {
  width: 335px;
  margin-inline: auto;

  @include mq(lg) {
    width: 891px;
  }
}

.swiper {
}

.about__swiper {
  @include mq(xl) {
    margin-top: -8px;
  }
}

.about__swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
}

.about__swiper-item {
  width: 100px !important;
  height: 100px !important;

  @include mq(lg) {
    width: 200px !important;
    height: 200px !important;
  }
}
