@use "../global" as *;

// はみ出し検証用
// * {
//   outline: 2px solid blue;
// }

.annotation {
  font-size: 10px;

  @include mq(lg) {
    font-size: 14px;
  }
}

.hidden-sp {
  display: none;
  @include mq(lg) {
    display: inline-block;
  }
}

.hidden-pc {
  @include mq(lg) {
    display: none;
  }
}

.font-bold {
  font-weight: 700;
}

.link__border {
  text-decoration-line: underline;
}

.font-palt {
  font-feature-settings: "palt";
}

/*!
fv
------------------------------
*/
.fv {
  background: url(../images/fv-bg-sp@2x.png) no-repeat center / cover;
  height: 553px;
  @include mq(lg) {
    background-image: url(../images/fv-bg-pc@2x.png);
    height: 740px;
  }
}

.fv__inner {
  padding-top: 17px;
  max-width: 335px;
  margin-inline: auto;

  @include mq(lg) {
    padding-top: 35px;
    max-width: 848px;
    margin: 0 auto;
  }
}

.fv__content {
  text-align: center;
}

.fv__text {
  margin-bottom: 20px;
  text-shadow: 0px 0px 30px var(--color-white);
  font-family: var(--font-family-kiwi);
  font-size: 14px;
  line-height: 1.25;

  @include mq(lg) {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 500;
  }
}

.fv__title {
  img {
    @include mq(lg) {
      width: 520px;
    }
  }
}

.fv__image {
  position: relative;
}

.fv__image-top {
}

.fv__image-top-fukidashi {
  position: absolute;
  top: 17px;
  left: 0;
  width: 142px;

  @include mq(lg) {
    top: 0;
    left: 37px;
    width: 244px;
  }
}

.fv__image-top-present {
  position: absolute;
  top: 10px;
  right: 25px;
  width: 110px;

  @include mq(lg) {
    top: 17px;
    right: 127px;
    width: 180px;
  }
}

.fv__image-middle {
  position: absolute;
  top: 113px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;

  @include mq(lg) {
    top: 33px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
  }
}

.fv__image-middle-img {
}

.fv__image-bottom {
}
.fv__image-bottom-food {
  position: absolute;
  top: 396px;
  left: 2px;
  width: 87px;

  @include mq(lg) {
    top: 240px;
    left: 2px;
    width: 202px;
  }
}

.fv__image-bottom-cats {
  position: absolute;
  top: 405px;
  right: 0;
  width: 107px;

  @include mq(lg) {
    top: 309px;
    right: 0;
    width: 233px;
  }
}

/*!
about
------------------------------
*/
.about {
  margin-top: 156px;
  padding-top: 32px;
  // about__bg用
  position: relative;
  overflow: hidden;

  @include mq(lg) {
    margin-top: 97px;
    padding-top: 80px;
  }
}

.about__inner {
  background: var(--color-white);
  margin-inline: 20px;
  padding: 40px 12px;
  border-radius: 24px;
  // about__img, arrow用
  position: relative;
  // about__bg用
  z-index: 1;

  @include mq(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 40px;
    max-width: calc(100% - 50px * 2);
    margin-inline: auto;
    padding-inline: 0;
  }

  @include mq(xl) {
    max-width: calc(620px + 114px * 2);
  }
}

.about__img {
}

.about__top-left {
  position: absolute;
  width: 88px;
  height: 68px;
  top: 32px;
  left: 33px;

  @include mq(sm) {
    width: 134px;
    height: 100px;

    top: 17px;
    left: 14px;
  }

  @include mq(lg) {
    width: 148px;
    height: 116px;
    top: 40px;
    left: 85px;
  }
}

.about__top-right {
  position: absolute;
  width: 88px;
  height: 68px;
  top: 30px;
  right: 20px;

  @include mq(sm) {
    width: 134px;
    height: 100px;

    top: 13px;
    right: 29px;
  }

  @include mq(lg) {
    width: 148px;
    height: 116px;

    top: 47px;
    right: 84px;
  }
}

.about__heading-en {
}

.about__heading-ja {
  &::after {
    width: 200px;

    @include mq(lg) {
      width: 320px;
    }
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;

  @include mq(lg) {
    gap: 32px;
  }
}

.about__content-title {
  font-size: 14px;
  font-weight: 700;

  @include mq(lg) {
    font-size: 16px;
  }
}

.about__content-text {
  font-size: 12px;

  @include mq(lg) {
    font-size: 16px;
  }

  & + & {
    margin-top: calc(12px * 1.6);

    @include mq(lg) {
      margin-top: calc(16px * 1.6);
    }
  }
}

.about__content-message {
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 700;

  @include mq(lg) {
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: 20px;
  }
}

.about__button {
}

.about__bg-arrow {
  position: absolute;
  bottom: -36px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;

  @include mq(lg) {
    bottom: -50px;
    width: 140px;
  }
}
.about__bg {
  z-index: 0;
}

.about__bg-pawpads {
  position: absolute;
  top: 22px;
  right: 0;
  width: 54px;

  @include mq(xl) {
    top: 0;
    left: calc(50% + 424px + 66px);
    width: 100px;
  }
}

.about__bg-pattern {
  @include mq(lg) {
    position: absolute;
    width: 250px;
    top: 60px;
    left: calc(50% - 775px);
  }
}

.about__bg-left {
  position: absolute;
  top: 427px;
  left: -140px;
  width: 200px;
  height: 200px;
  border-radius: 24px;

  @include mq(md) {
  }

  @include mq(lg) {
    width: 480px;
    height: 480px;
    top: 154px;
    left: calc(50% - 848px);
    border-radius: 40px;
  }

  @include mq(xl) {
    left: calc(50% - 848px - 208px);
  }
}

.about__bg-right {
  position: absolute;
  top: 305px;
  right: -140px;
  width: 200px;
  height: 200px;
  border-radius: 24px;

  @include mq(lg) {
    width: 480px;
    height: 480px;
    top: 153px;
    right: calc(50% - 848px);
    border-radius: 40px;
  }

  @include mq(xl) {
    right: calc(50% - 848px - 192px);
  }
}

.about__bg-slope {
  position: absolute;
  top: 741px;
  left: 0;
  width: 138px;

  @include mq(lg) {
    width: 427px;
    height: 817px;
  }

  @include mq(xl) {
    width: 427px;
    height: 817px;
    top: 400px;
    left: calc(50% - 848px - 8px);
  }
}

.about__bg-wave {
  @include mq(lg) {
    position: absolute;
    width: 874px;
    height: 45px;
    top: 687px;
    left: calc(50% + 424px + 24px);
  }
}

.about__bg-button {
  position: absolute;
  top: 752px;
  right: 21px;
  width: 48px;

  @include mq(md) {
    top: 726px;
    left: calc(50% + 306px);
    z-index: 1;
  }
  @include mq(lg) {
    width: 101px;
    top: 945px;
    left: calc(50% + 336px);
    z-index: 1;
  }

  @include mq(xl) {
    top: 681px;
    left: calc(50% + 424px + 81px);
  }
}

.about__bg-cloth {
  position: absolute;
  top: 794px;
  right: 57px;
  width: 133px;

  @include mq(md) {
  }

  @include mq(lg) {
    width: 258px;
    top: 997px;
    left: calc(50% + 112px);
    z-index: 1;
  }
  @include mq(xl) {
    width: 308px;
    top: 837px;
    left: calc(50% + 424px - 50px);
    z-index: 1;
  }
}

/*!
slider
------------------------------
*/
.about__slider {
  margin-top: 140px;
  margin-bottom: 33px;
  position: relative;

  @include mq(lg) {
    margin-top: 167px;
    margin-bottom: 0;
  }
}

.about__onomichi {
  width: 335px;
  margin-inline: auto;

  @include mq(lg) {
    width: 891px;
  }
}

.swiper {
}

.about__swiper {
  @include mq(xl) {
    margin-top: -8px;
  }
}

.about__swiper-wrapper {
  transition-timing-function: linear;
}

.swiper-slide {
}

.about__swiper-item {
  width: 100px !important;
  height: 100px !important;

  @include mq(lg) {
    width: 200px !important;
    height: 200px !important;
  }
}

/*!
Step how to enter
------------------------------
*/
.step {
  padding-top: 32px;
  padding-bottom: 38px;
  position: relative;
  overflow: hidden;

  @include mq(lg) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.step__inner {
  margin-inline: 20px;
  position: relative;
  z-index: 1;

  @include mq(lg) {
    margin-inline: 36px;
  }
}

.step__heading {
}

.step__icon {
}

.step__heading-en {
}

.step__heading-ja {
  &::after {
    width: 100px;

    @include mq(lg) {
      width: 160px;
    }
  }
}

.step__content {
  margin-top: 41px;

  @include mq(lg) {
    margin-top: 40px;
  }
}

.step__items {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mq(lg) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }
}

.step__item {
  text-align: center;

  @include mq(lg) {
    position: relative;

    &:nth-child(2) {
      padding-top: 69px;
    }
  }
}

.step__img {
  display: block;
  margin-inline: auto;
  width: 196px;
  height: 210px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @include mq(lg) {
    width: 260px;
    height: 278px;
  }
  @include mq(xl) {
    width: 280px;
    height: 300px;
  }

  &.step1 {
    background-image: url(../images/step-bg-1@2x.png);
  }
  &.step2 {
    background-image: url(../images/step-bg-2@2x.png);
  }
  &.step3 {
    background-image: url(../images/step-bg-3@2x.png);
  }
}

.step__item-number {
  padding-top: 33px;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-josefin);
  color: var(--color-white);
  text-transform: uppercase;

  @include mq(lg) {
    padding-top: 44px;
  }
}

.step__number-top {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;

  @include mq(lg) {
    font-size: 18px;
  }
  @include mq(xl) {
    font-size: 20px;
  }
}

.step__number-bottom {
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  line-height: 0.9;

  @include mq(lg) {
    font-size: 50px;
  }
  @include mq(xl) {
    font-size: 56px;
  }
}

.step__item-img {
  width: 112px;
  height: 112px;

  @include mq(lg) {
    width: 140px;
    height: 140px;
  }
  @include mq(xl) {
    width: 160px;
    height: 160px;
  }
}

.step__text {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include mq(lg) {
    margin-top: 20px;
  }
  @include mq(xl) {
    margin-top: 30px;
  }
}

.step__text-title {
  font-size: 16px;
  font-weight: 700;

  @include mq(lg) {
    font-size: 18px;
  }
  @include mq(xl) {
    font-size: 20px;
  }
}

.step__text-content {
  @include mq(md) {
    font-size: 14px;
  }
  @include mq(xl) {
    font-size: 16px;
  }
}

.step__text-link {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  background: var(--color-white);
  width: fit-content;
  margin-inline: auto;
  font-size: 14px;
  font-weight: 700;
  align-items: center;

  @include mq(xl) {
    font-size: 16px;
  }

  & img {
    width: 20px;
    height: 20px;

    @include mq(lg) {
      width: 24px;
      height: 24px;
    }
  }
}

.step__line {
  margin-top: 16px;
  width: 7px;
  height: 34px;
  display: block;
  margin-inline: auto;

  @include mq(lg) {
    width: 113px;
    height: 24px;
    position: absolute;
    margin-top: 0;
    top: 204px;
    right: -48px;
  }
}

.step__button {
  margin-top: 16px;
  text-align: center;

  @include mq(lg) {
    margin-top: 50px;
  }
}

.step__bg {
  z-index: 0;
}

.step__bg-left {
  position: absolute;
  top: 32px;
  left: 0;

  @include mq(md) {
    left: 60px;
  }

  @include mq(lg) {
    top: 72px;
    left: 65px;
  }

  @include mq(xl) {
    top: 60px;
    left: 36px;
  }

  & img {
    width: 134px;

    @include mq(lg) {
      width: 169px;
    }

    @include mq(xl) {
      width: 420px;
    }
  }
}

.step__bg-right {
}

.step__top-cat1 {
  position: absolute;
  top: 37px;
  right: -31px;
  width: 94px;

  @include mq(md) {
    top: 104px;
    right: 105px;
  }

  @include mq(lg) {
    width: 114px;
  }

  @include mq(xl) {
    width: 214px;
  }
}

.step__top-cat2 {
  position: absolute;
  width: 105px;
  top: 32px;
  right: 24px;

  @include mq(md) {
    top: 94px;
    right: 183px;
  }

  @include mq(lg) {
    width: 135px;
  }

  @include mq(xl) {
    right: 231px;
    width: 238px;
  }
}

.step__bg-pawpads {
}

.step__bg-pawpads-top {
  position: absolute;
  width: 55px;
  height: 120px;
  top: 106px;
  right: 20px;

  @include mq(xl) {
    top: 268px;
    right: 36px;
    width: 100px;
    height: 220px;
  }
}

.step__bg-pawpads-middle {
  position: absolute;
  width: 55px;
  height: 120px;
  top: 582px;
  left: 20px;
  transform: rotate(180deg);

  @include mq(xl) {
    width: 100px;
    height: 220px;
    top: 700px;
    left: 36px;
  }
}

.step__bg-pawpads-bottom {
  position: absolute;
  width: 55px;
  height: 120px;
  top: 912px;
  right: 20px;
  transform: rotate(180deg);

  @include mq(lg) {
    display: none;
  }
}

/*!
prize
------------------------------
*/
.prize {
  background: var(--color-white);
  border-radius: 24px;
  padding-bottom: 34px;
  // slope__bgが下になるように
  position: relative;
  z-index: 1;

  @include mq(lg) {
    padding-bottom: 53px;
    position: relative;
    margin-top: -20px;
    width: calc(1024px / 1512px * 100%);
    margin-inline: auto;
  }

  @include mq(xl) {
    max-width: 1024px;
    margin-top: 243px;
  }
}

.prize__bg {
  display: none;

  @include mq(lg) {
    display: block;
  }
}

.prize__bg-left,
.prize__bg-right {
  @include mq(lg) {
    position: absolute;
    width: clamp(13.125rem, 3.474rem + 17.16vw, 19.688rem);
  }
}

.prize__bg-left {
  @include mq(lg) {
    left: 0;
    top: -80px;
  }
  @include mq(xl) {
    top: -120px;
  }
}

.prize__bg-right {
  @include mq(lg) {
    right: 0;
    top: -80px;
  }

  @include mq(xl) {
    top: -120px;
  }
}

.prize__inner {
  position: relative;
  margin-top: 83px;
  padding-inline: 20px;

  @include mq(xl) {
    margin-top: -86px;
    padding-inline: 56px;
  }
}

.prize__deco {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -81px;
  width: 237.6px;
  height: 83px;

  @include mq(md) {
    top: -94px;
  }

  @include mq(xl) {
    top: -148px;
    width: 365.624px;
    height: 148.967px;
  }
}

.prize__heading {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  top: -62px;

  @include mq(xl) {
    top: -120px;
  }
}

.prize__icon {
}

.prize__heading-en {
}

.prize__heading-ja {
  &::after {
    width: 160px;

    @include mq(lg) {
      width: 256px;
    }
  }
}

.prize__content {
  padding-top: 60px;

  @include mq(lg) {
    padding-top: 110px;
  }

  @include mq(xl) {
    padding-top: 60px;
  }
}

.prize__text {
  text-align: center;
}

.prize__items {
  padding-top: calc(24px + 24px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: calc(15px + 24px);
  column-gap: 15px;

  @include mq(lg) {
    padding-top: 85px;
    row-gap: 82px;
    column-gap: 20px;
  }
  @include mq(xl) {
    column-gap: 32px;
  }
}

.prize__item {
  width: calc(50% - 7.5px);
  position: relative;

  @include mq(lg) {
    &:nth-child(1),
    &:nth-child(2) {
      flex: 1 1 calc(50% - 16px);
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      flex: 1 1 calc(33.33% - 22px);
    }
  }
}

.prize__item-inner {
  border-radius: 8px;
  overflow: hidden;

  @include mq(lg) {
    border-radius: 24px;
  }
}

.prize__item-number {
  position: absolute;
  top: -24px;
  left: 50%;
  transform: translateX(-50%);
  width: 48px;

  .prize__item:nth-child(1) &,
  .prize__item:nth-child(2) & {
    @include mq(lg) {
      top: -40px;
      width: 80px;
    }
    @include mq(xl) {
      top: -50px;
      width: 100px;
    }
  }

  .prize__item:nth-child(3) &,
  .prize__item:nth-child(4) &,
  .prize__item:nth-child(5) & {
    @include mq(lg) {
      top: -30px;
      width: 60px;
    }
    @include mq(xl) {
      top: -40px;
      width: 80px;
    }
  }
}

.prize__item-img {
  & img {
    object-fit: cover;
    aspect-ratio: 160 / 140;

    .prize__item:nth-child(1) &,
    .prize__item:nth-child(2) & {
      @include mq(lg) {
        aspect-ratio: 440 / 340;
      }
    }

    .prize__item:nth-child(3) &,
    .prize__item:nth-child(4) &,
    .prize__item:nth-child(5) & {
      @include mq(lg) {
        aspect-ratio: 280 / 240;
      }
    }
  }
}

.prize__item-content {
  background: var(--color-gray);
  position: relative;
}

.prize__item-title {
  text-align: center;
  font-weight: 700;
  min-height: 56px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq(lg) {
    .prize__item:nth-child(1) &,
    .prize__item:nth-child(2) & {
      font-size: 20px;
      min-height: 120px;
    }

    .prize__item:nth-child(3) &,
    .prize__item:nth-child(4) &,
    .prize__item:nth-child(5) & {
      min-height: 80px;
    }
  }
}

.prize__item-zoom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36px;
  height: 36px;

  .prize__item:nth-child(1) &,
  .prize__item:nth-child(2) & {
    @include mq(lg) {
      width: 78px;
      height: 78px;
    }
    @include mq(xl) {
      width: 100px;
      height: 100px;
    }
  }

  .prize__item:nth-child(3) &,
  .prize__item:nth-child(4) &,
  .prize__item:nth-child(5) & {
    @include mq(lg) {
      width: 44px;
      height: 44px;
    }
    @include mq(xl) {
      width: 64px;
      height: 64px;
    }
  }
}

.prize__button {
  text-align: center;
  margin-top: 18px;

  @include mq(lg) {
    margin-top: 40px;
  }
}

.prize__dialog {
  position: fixed;
  inset: 0;
  width: 336px;
  max-width: 92%;
  border-radius: 24px;
  background: var(--color-white);
  padding: 0 0 56px 0;
  border: none;
  color: var(--color-brown);

  @include mq(lg) {
    width: 480px;
    height: 650px;
    padding: 0 0 40px 0;
  }

  &::backdrop {
    opacity: 0.6;
    background: #000000;
  }
}

.prize__dialog-inner {
}

.prize__dialog-img {
}

.prize__dialog-content {
  margin-top: 39px;
  text-align: center;
  padding-inline: 20px;

  @include mq(lg) {
    margin-top: 32px;
    padding-inline: 40px;
  }
}

.prize__dialog-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;

  @include mq(lg) {
    font-size: 20px;
  }
}

.prize__dialog-text {
}

.prize__dialog-close {
  margin-top: 16px;

  @include mq(lg) {
    margin-top: 30px;
  }

  & button {
    outline: none;

    @include mq(lg) {
      padding: 4px 22px 6px 22px;
      font-size: 16px;
    }
  }
}

.slope-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calc(216px - 260px);
  overflow: hidden;

  & img {
    width: 100%;
    min-width: 580px;

    @include mq(lg) {
      min-width: 1512px;
    }
  }

  @include mq(lg) {
    margin-top: 0;
  }
}

/*!
spot
------------------------------
*/
.spot {
  background: var(--color-sub-dblue);
  padding-bottom: 20px;
  position: relative;
}

.spot__wave-top,
.spot__wave-bottom {
  width: 100%;
  height: 45.7px;
  background-image: url(../../images/spots-wave-sp.png);
  background-repeat: repeat-x;
  position: absolute;

  @include mq(lg) {
    background-image: url(../../images/spots-wave-pc.png);
    height: 120px;
  }
}
.spot__wave-top {
  top: -45.7px;

  @include mq(lg) {
    top: -120px;
  }
}

.spot__wave-bottom {
  bottom: -45px;
  transform: rotate(180deg);

  @include mq(lg) {
    bottom: -101px;
  }
}

.spot__inner {
}

.spot__top {
  @include mq(lg) {
    // 最小値は20px
    padding-left: max(calc(50% - 512px), 20px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
  }
}

.spot__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;

  @include mq(lg) {
    flex-direction: column;
    gap: 13px;
  }
}
.spot__heading-icon {
  width: 28px;

  @include mq(lg) {
    width: 56px;
  }
}
.spot__heading-ja {
  color: var(--color-white);
  font-feature-settings: "pwid" on;
  font-family: var(--font-family-kiwi);
  font-size: 28px;
  font-weight: 500;
  line-height: 1.25;

  @include mq(lg) {
    writing-mode: vertical-rl;
    font-size: 40px;
    letter-spacing: 10px;
  }
}

.spot__content {
  margin-top: 24px;

  @include mq(lg) {
    margin-top: 0;
    overflow: hidden;
  }
}

/*!
spot swiper
------------------------------
*/

// .swiper
.spot__swiper {
}

.swiper-wrapper {
}

// .swiper-slide
.spot__item {
  max-width: 240px;
  height: calc(371px + 31.2px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 12px;
  background: var(--color-white);
  overflow: hidden;

  @include mq(lg) {
    max-width: 344px;
    height: calc(502px + 40px);
    gap: 24px;
    border-radius: 24px;
  }
}

.spot__item-img {
  & img {
    aspect-ratio: 240 / 180;

    @include mq(lg) {
      aspect-ratio: 344 / 240;
    }
  }
}

.spot__item-content {
  padding-inline: 24px;

  @include mq(lg) {
    padding-inline: 32px;
  }
}

.spot__item-title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;

  @include mq(lg) {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.spot__item-text {
  text-align-last: left;
}

.spot__navigation {
  display: none;

  @include mq(lg) {
    position: absolute;
    top: 504px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 944px;
    width: calc(944px / 1024px * 100%);
    display: flex;
    justify-content: space-between;
    z-index: 50;
  }
}

.spot__swiper-prev,
.spot__swiper-next {
  position: relative;
  width: 80px;
  height: 80px;
  background: var(--color-yellow);
  border-radius: 50%;

  &:after {
    content: url(../../images/spot-icon-arrow.svg);
    width: 57px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.spot__swiper-prev {
  @include mq(lg) {
  }
}

.spot__swiper-next {
  @include mq(lg) {
    transform: rotate(180deg);
  }
}

.spot__bottom {
  padding-inline: 20px;
  text-align: center;

  @include mq(lg) {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    margin-inline: auto;
    padding-inline: 0;
    width: calc(100% - 20px * 2);
    align-items: center;
  }

  @include mq(xl) {
    align-items: flex-start;
  }
}

.spot__logo {
  & img {
    width: 255px;

    @include mq(lg) {
      width: clamp(23.125rem, -0.313rem + 41.67vw, 30.938rem);
    }
  }
}

.spot__bottom-msg {
  @include mq(lg) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.spot__copy {
  font-size: 11.444px;
  color: var(--color-white);
  padding-top: 16px;

  @include mq(lg) {
    font-size: 16px;
    padding-top: 0;
  }
}

.spot__button {
  margin-top: 24px;
}

.spot__pawpads {
  display: none;

  @include mq(xl) {
    display: block;
    position: absolute;
    left: 36px;
    bottom: 18px;
    width: 100px;
  }
}

/*!
qa
------------------------------
*/
.qa {
  padding-top: calc(45.71px + 40px);
  padding-bottom: 31px;

  @include mq(lg) {
    padding-top: 220px;
    padding-bottom: 0;
    max-width: calc(1024px + 36px * 2);
    margin-inline: auto;
  }
}

.qa__inner {
  padding-inline: 20px;

  @include mq(lg) {
    padding-inline: 36px;
  }
}

.qa__heading {
}

.qa__icon {
}

.heading-icon {
}

.qa__heading-en {
}

.qa__heading-ja {
  &::after {
    width: 140px;

    @include mq(lg) {
      width: 224px;
    }
  }
}

.qa__content {
  @include mq(lg) {
    padding-top: 9px;
  }
}

.qa__box {
  border-radius: 12px;
  border: 2px solid var(--color-brown);
  background: var(--color-white);
  overflow: hidden;

  @include mq(lg) {
    border-radius: 16px;
  }

  &:nth-child(n + 2) {
    margin-top: 12px;

    @include mq(lg) {
      margin-top: 21px;
    }
  }
}

.qa__summary {
  padding: 10px 14px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;

  @include mq(lg) {
    padding: 22px;
    gap: 16px;
  }

  // safari用
  &::-webkit-details-marker {
    display: none;
  }
}

.qa__summary-icon,
.qa__answer-icon {
  color: var(--color-main);
  font-family: var(--font-family-josefin);
  font-size: 24px;
  line-height: 1.25;

  @include mq(lg) {
    font-size: 32px;
  }
}

.qa__summary-text {
  font-size: 14px;
  font-weight: 700;

  @include mq(lg) {
    font-size: 20px;
  }
}

.qa__summary-button {
  background: var(--color-main);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: relative;
  margin-left: auto;

  @include mq(lg) {
    width: 48px;
    height: 48px;
  }

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color-white);
    width: 10px;
    height: 2px;
    border-radius: 20px;
    content: "";

    @include mq(lg) {
      width: 18px;
    }
  }

  &::before {
    transition: transform 0.3s;
    transform: translate(-50%, -50%) rotate(90deg);

    // QAが開いている時
    .qa__box.is-open & {
      transform: translate(-50%, -50%);
    }
  }
}

.qa__answer {
  overflow: hidden;
}

.qa__answer-inner {
  padding: 14px;
  display: flex;
  align-items: center;
  gap: 16px;
  background: var(--color-gray);

  @include mq(lg) {
    padding: 22px;
  }
}

.qa__answer-text {
  font-size: 14px;

  @include mq(lg) {
    font-size: 16px;
  }
}

/*!
entry
------------------------------
*/
.entry {
  margin-inline: 20px;
  padding-bottom: 32px;

  @include mq(lg) {
    max-width: calc(1024px + 36px * 2);
    margin-inline: auto;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-inline: 36px;
  }

  @include mq(xl) {
    width: 1024px;
    padding-inline: 0;
  }
}

.entry__inner {
  padding-top: calc(24px - 8px);
  padding-bottom: calc(24px - 8px);
  border: 8px solid var(--color-white);
  background: rgba(255, 255, 255, 0.5);
  padding-inline: 16px;

  @include mq(lg) {
    padding: 32px 48px;
  }
}

.entry__heading {
}

.entry__icon {
}

.heading-icon {
}

.entry__heading-en {
}

.entry__heading-ja {
  &:after {
    width: 85px;

    @include mq(lg) {
      width: 128px;
    }
  }
}

.entry__content {
  @include mq(lg) {
    padding-top: 6px;
  }
}

.entry__table {
}

.entry__table-row {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include mq(lg) {
    flex-direction: row;
    padding-bottom: 12px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid var(--color-dgray);
  }

  &:nth-child(n + 2) {
    margin-top: 12px;
  }
}

.entry__table-head {
  font-size: 14px;
  font-weight: 700;

  @include mq(lg) {
    width: 233px;
    flex-shrink: 0;
    padding-left: 16px;
    font-size: 16px;
  }

  &::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: var(--color-main);
    margin-right: 8px;
    border-radius: 50%;
  }
}

.entry__table-data {
  padding-bottom: 14px;
  font-size: 12px;
  // 禁則処理（文頭に小さい文字などが来ないように）
  line-break: strict;

  @include mq(lg) {
    flex: 1;
    font-size: 16px;
    padding-bottom: 0;
  }
}

.entry__caution {
}

.entry__caution-list {
  // li要素を左寄せにする
  display: table;
}

.entry__caution-item {
  // li要素を左寄せにする
  display: table-row;
  &:after {
    content: "";
    display: block;
  }

  &:before {
    content: "•";
    display: table-cell;
    padding-right: 0.5em;
    padding-left: 0.6em;
  }
}

.entry-bg {
  & img {
    aspect-ratio: 375 / 99;

    @include mq(lg) {
      aspect-ratio: 1512 / 400;
    }
  }
}

/*!
contact
------------------------------
*/
.contact {
  background: var(--color-white);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-inline: 20px;
  background: var(--color-white);

  @include mq(lg) {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-inline: 36px;
  }
}

.contact__inner {
  @include mq(lg) {
    max-width: 848px;
    margin-inline: auto;
  }
}

.contact__heading {
}

.contact__icon {
}

.heading-icon {
}

.contact__heading-en {
}

.contact__heading-ja {
  &:after {
    width: 120px;

    @include mq(lg) {
      width: 192px;
    }
  }
}

.contact__content {
}

.contact__attention {
  margin-top: 24px;
  text-align: center;

  @include mq(lg) {
    margin-top: 32px;
  }
}

.contact__form {
  margin-top: 24px;

  @include mq(lg) {
    margin-top: 40px;
  }
}

.contact__fields {
}

.contact__field {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include mq(lg) {
    flex-direction: row;
    gap: 40px;
  }
}

// メッセージの部分だけラベルが上揃いになるように
.form-field-message {
  align-items: flex-start;
  margin-top: 3px;
}

.form-field__head {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;

  @include mq(lg) {
    min-width: 180px;
    align-items: left;
  }
}

.form-field__label {
  font-size: 14px;

  @include mq(lg) {
    font-size: 16px;
  }
}

.form-field__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background: var(--color-red);
  border-radius: 4px;
  font-size: 14px;
  // padding: 4px 8px;
  padding: 2px 6px;

  @include mq(lg) {
    font-size: 12px;
    padding: 3px 8px;
  }
}

.form-field__item {
  width: 100%;
  @include mq(lg) {
    flex: 1;
  }
}

.form-text {
  border-radius: 8px;
  background: var(--color-gray);
  padding: 16px;
  font-size: 14px;
  width: 100%;

  &::placeholder {
    color: var(--color-dgray);
  }

  @include mq(lg) {
    font-size: 16px;
  }
}

.form-select {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background: var(--color-gray);

  &:before {
    content: "";
    display: block;
    width: 52px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-main);
    pointer-events: none;
  }

  &::after {
    position: absolute;
    display: block;
    content: url(../../images/icon-select-form.svg);
    top: 20%;
    right: 11px;
    pointer-events: none;
  }

  & select {
    width: 100%;
    padding: 16px;
    font-size: 14px;
    cursor: pointer;

    @include mq(lg) {
      font-size: 16px;
    }
  }
}

.form-field__radios {
  display: flex;
  gap: 24px;
}

.form-radio {
  @include mq(lg) {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.form-radio__input {
  // ラジオボタンがチェックされた時だけ中の丸が表示される
  &:checked {
    + .form-radio__text {
      font-weight: 700;
      &:after {
        opacity: 1;
      }
    }
  }

  &:focus + .form-radio__text {
    // ラジオボタンにフォーカスした時の外枠
    &::before {
      outline: var(--color-main) auto;
    }
  }
}

.form-radio__text {
  // 2px: 円のボーダー分
  padding-left: calc(8px + 24px - 2px);
  position: relative;
  font-size: 14px;

  @include mq(lg) {
    font-size: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  // }

  // ラジオボタンの疑似要素
  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }

  // ラジオボタンの外側の枠
  &:before {
    width: 24px;
    height: 24px;
    background-color: var(--color-gray);
    left: 0;
    transition: border-color 0.3s;
  }

  // ラジオボタンの中の丸
  &:after {
    width: 14px;
    height: 14px;
    background: var(--color-main);
    left: 5px;
    opacity: 0;
    transition: opacity 0.3s;
  }
}

.form-textarea {
  width: 100%;
  height: 160px;
  border-radius: 8px;
  background: var(--color-gray);
  padding: 16px;
  font-size: 14px;

  @include mq(lg) {
    font-size: 16px;
  }

  &::placeholder {
    color: var(--color-dgray);
  }
}

.contact__privacy {
  margin-top: 24px;
  font-size: 14px;
  text-align: center;

  @include mq(lg) {
    margin-top: 40px;
    font-size: 16px;
  }
}

.form-checkbox {
}

.form-checkbox__input {
  &:checked {
    + .form-checkbox__text {
      &:after {
        opacity: 1;
      }
    }
  }

  &:focus + .form-checkbox__text {
    // チェックした時の外枠
    &::before {
      outline: var(--color-main) auto 1px;
    }
  }
}

.form-checkbox__text {
  position: relative;
  padding-left: calc(12px + 24px);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  // チェックボックスの外枠
  &::before {
    width: 24px;
    height: 24px;
    background: var(--color-gray);
    border-radius: 4px;
  }

  // チェックマーク
  &::after {
    left: 5px;
    top: 4px;
    width: 15px;
    height: 10px;
    border-left: 3px solid var(--color-main);
    border-bottom: 3px solid var(--color-main);
    transform: rotate(-45deg);
    opacity: 0;
  }
}

.contact__button {
  margin-top: 24px;
  text-align: center;

  @include mq(lg) {
    margin-top: 40px;
  }

  & input {
    @include mq(lg) {
      padding: 6px 38px 6px 38px;
      font-size: 16px;
    }
  }
}
